.register-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding:auto;
}

.poslovni-switch {
    text-align: end;
    color: #383636;
    margin: 2%;
    margin-right: 15%;
  }

  .submit {
    height: 50px;
    min-width: 150px; 
    color: #fff;
    background-color: #1316e9;
    border-radius: 25px;
    padding: 0.1rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-check {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9rem;
    color: #797979;
}

.account-check .clickable {
    color: #1316e9;
    cursor: pointer;
}

.submit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    
}

form {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}